.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a7a7a7;
  padding: 25px;
  width: calc(20% - 60px);
  height: 292px;
  border-radius: 40px;
  margin: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  .plus {
    margin: 3px;
    cursor: pointer;
    width: 35px;
    height: 35px;
  }

  .disabledPlus {
   opacity: 0.5;
    cursor: inherit;
  }

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favorite {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }


  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 15px;
    font-weight: 700;
  }

  h5 {
    display: flex;
    align-content: flex-start;
    font-size: 15px;
    font-weight: 700;
  }
}