body {
  margin: 10px;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d4f3f5;
}

* {
  font-family: 'Inter';
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1440px;
  margin: 50px auto;
}

header {
border-bottom: 1px solid #d4d4d4;
  img {
      margin-right: 5px;
    }
  h3,
  p {
    margin: 0;
  }

  span {
    font-size: 35px;
    font-weight: 500;
  }
}

.content {
  h1 {
    margin: 0px;
  }
}


.search-block {
  border: 1px solid#d4d4d4;
  border-radius: 10px;
  padding: 0 10px;
  position: relative;

  .clear {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 6px;
    right: 0;
  }

  input {
    border: 0;
    padding: 5px;
    font-size: 15px;
    width: 200px;
  }

  img {
    margin-right: 5px;
  }
}

.overlay {
  position: absolute;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 570px;
  right: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  h2 {
    margin: 0;
    font-size: 24px;
  }

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }

}
.cartEmpty {
  margin-top: 100px;
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.cartTotal {
  ul {
    display: block;
    margin-bottom: 40px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #a7a7a7;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(10px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 15px;
      transition: transform 0.15s ease-in-out;

    }
  }

}

.greenButton {
  width: 100%;
  height:60px;
  background: #d4f3f5;
  border-radius: 20px;
  border: 1px solid #a7a7a7;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;


  
  &:hover {
    
    background: lighten($color: #68dd32, $amount: 5%);
  }

  &:active {
    background: darken($color: #68dd32, $amount: 10%);
  }
}

.cartItem {
  border: 1px solid #a7a7a7;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
  }

  p {
    font-size: 20px;
    margin: 0;
  }

  b {
    font-size: 20px;
  }

  .cartItemRemove {
    margin-left: auto;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.14s ease-in-out;
    width: 30px; 
    height: 30px;


    &:hover {
      opacity: 1;
    }
  }
}
